




.image-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.image-container img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:red;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0); /* Optional: semi-transparent background */
    padding: 10px;
    border-radius: 5px;
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}
